.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
} */

.calendar {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background: #61dafb;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.calendar-main {
  display: flex;
  justify-content: center;
}

.h1 {
  color: darkblue;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.calendar-day {
  padding: 10px;
  border: 1px solid whitesmoke;
  text-align: center;
  cursor: pointer;
  min-width: 40px;
}
.calendar-day:hover {
  background-color: antiquewhite;
}

button:hover {
  background: darkblue;
}

.calendar-container {
  width: 500px;
  text-align: center;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.today {
  background-color: lightblue;
  font-weight: bold;
  border-radius: 5px;
}

.selected {
  background-color: lightgreen;
  border-radius: 5px;
}

.selected-date {
  margin-top: 10px;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
